<?xml version="1.0"?>

<robot name="secondary_base" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Define a number of dimensions using properties -->
  <property name="secondary_base_size_x" value="0.105" />
  <property name="secondary_base_size_y" value="0.105" />
  <property name="secondary_base_size_z" value="0.047" />

  <!-- Define the secondary_base -->
  <macro name="secondary_base" params="parent name color size_z *origin">
    <joint name="${parent}_${name}_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}_link"/>
      <child link="${name}_link"/>
    </joint>
    <link name="${name}_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="${secondary_base_size_x} ${secondary_base_size_y} ${size_z}" />
        </geometry>
        <material name="${color}" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="${secondary_base_size_x} ${secondary_base_size_y} ${size_z}" />
        </geometry>
      </collision>
    </link>
  </macro>

</robot>
