<?xml version="1.0"?>

<robot name="turret" xmlns:xacro="http://ros.org/wiki/xacro">

   <!-- Include all component files -->
   <xacro:include filename="$(find turret_description)/urdf/materials.urdf.xacro" />
   <xacro:include filename="$(find turret_description)/urdf/turret/base.urdf.xacro" />

   <!-- Add the base and wheels -->
   <base name="base" color="Black"/>

</robot>
